.contenedor-abuelo{
    background-image: url("../../../assets/images/fondo_consultas2.jpg");
}

.contenedor-padre{
    
    width: 100%; 
    margin: 0px 0px 0px;
    margin-top: 0px;
    /*margin-bottom: 10vh;*/
  
    /*padding: 45px 20px;*/
    
    
    text-align: center;
}

.galeria{
    font-family: 'open sans';
    /*margin-top: 2vh;*/
    width: 90%;
    margin: auto;
}

.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid black;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display: flex;
    /*width: 80% !important;*/
    width: 30%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen{
    /*width: 24vw;*/
    width: 420px;
    /*margin: 5%;*/
    position: relative;
    height: 252px;
    margin-bottom: 5vh;
    margin-top: 30px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(238, 7, 7, 0.781);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: rgb(255, 255, 255);
    font-weight: 300;
    /*font-size: 4vh;*/
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}


/*Estilos del modal LightBox */
.modals{
    visibility: hidden;
    opacity: 0;
}

.modals:target{
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    position: fixed;
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modals h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

@media screen and (max-width: 2100px){
    .contenedor-imagenes{
        width: 55% !important;
    }
    .contenedor-imagenes .imagen{
        height: 252px;
    }
}

@media screen and (max-width: 2000px){
    .contenedor-imagenes{
        width: 55% !important;
    }
    .contenedor-imagenes .imagen{
        height: 252px;
    }
}

@media screen and (max-width: 1800px){
    .contenedor-imagenes{
        width: 85% !important;
    }
    .contenedor-imagenes .imagen{
        height: 252px;
    }
}
@media screen and (max-width: 1525px){
    .galeria{
        margin-top: 3% !important;
    }
    .contenedor-imagenes{
        width: 75% !important;
    }
    .contenedor-imagenes .imagen{
        height: 252px;
    }
}

@media screen and (max-width: 1330px){
    .contenedor-imagenes{
        width: 85% !important;
    }
    .contenedor-imagenes .imagen{
        height: 252px;
    }
}

@media screen and (max-width: 1260px){
    .contenedor-imagenes{
        width: 95% !important;
    }
}

@media screen and (max-width: 1111px){
    .contenedor-imagenes{
        width: 95% !important;
    }
}

@media screen and (max-width: 1000px){
    .contenedor-imagenes{
        width: 95% !important;
    }
}

@media screen and (max-width: 995px){
    .contenedor-imagenes{
        width: 99% !important;
    }
}


@media screen and (max-width: 956px){
    .contenedor-imagenes{
        width: 99%;
        
    }
    .contenedor-imagenes .imagen{
        /*width: 48%;*/
        width: 300px;
    }
}

/*700px*/
@media screen and (max-width: 930px){
    .contenedor-imagenes{
        width: 90%;
        
    }
    .contenedor-imagenes .imagen{
        /*width: 48%;*/
        width: 40%;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        /*width: 80%;*/
        width: 70%;
    }
}

@media screen and (max-width: 450px){
    h1{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}