<div class="contenedor-abuelo">
    <br>
    <button class="btn btn-info" [routerLink]="['/home']" style="margin-left: 30px;">Regresar a Inicio</button>
    <div class="contenedor-padre">
    
        <div class="galeria" style="margin-top: 0px !important;">

            <div class="contenedor-imagenes">

                <div class="imagen">
                    <img src="../../../assets/images/fechas2.jpg" alt="altas">
                    <a [routerLink]="['/notas']">
                        <div class="overlay">
                            <h2>Fecha</h2>
                        </div>
                    </a>
                </div>
                <div class="imagen">
                    <img src="../../../assets/images/materias.jpg" alt="consultas">
                    <a [routerLink]="['/notas']">
                        <div class="overlay">
                            <h2>Materia</h2><br>
                        </div>
                    </a>
                </div>
                <div class="imagen">
                    <img src="../../../assets/images/semestres.jpg" alt="consultas">
                    <a [routerLink]="['/semestres']">
                        <div class="overlay">
                            <h2>Semestre</h2><br>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>