<div class="fondo">
    <h1 class="text-center display-4" style="margin-bottom: 30px; font-weight: bold;">Tareas y Documentos</h1>
    <div class="container">
        <div class="rows">
            <div class="card-columns">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tarea 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">It is a long established fact that a reader will be distracted by the
                            readable
                            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                            a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here',
                            making it look like readable English. Many desktop publishing packages and web page editors
                            now
                            use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                            many
                            web sites still in their infancy. Various versions have evolved over the years, sometimes by
                            accident, sometimes on purpose (injected humour and the like).Some quick example text to
                            build
                            on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tarea 2</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tarea 3</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tarea 4</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tarea 5</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.It is a long established fact that a reader will be distracted by the
                            readable
                            content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                            a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here',
                            making it look like readable English. Many desktop publishing packages and web page editors
                            now
                            use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover
                            many
                            web sites still in their infancy. Various versions have evolved over the years, sometimes by
                            accident, sometimes on purpose (injected humour and the like).</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>