<div class="container" style="margin-top: 20px;">
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
            <label for="nombre">Nombre del producto</label>
            <input type="text" formControlName="nombre" class="form-control"
                [ngClass]="{'is-invalid': submitted && f.nombre.errors}">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">Por favor ingrese el nombre del producto</div>
            </div>
        </div>

        <div class="form-row row justify-content-md-center">

        </div>

        <div class="form-row row justify-content-md-center">

        </div>

        <div class="form-row row justify-content-md-center">
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea formControlName="descripcion" class="form-control"
                [ngClass]="{'is-invalid': submitted && f.descripcion.errors}"></textarea>
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                <div *ngIf="f.descripcion.errors.required">Por favor ingrese una descripcion</div>
            </div>
        </div>



        <div class="form-row row justify-content-md-center">
            <div class="col mt-3">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es" formControlName="select_img"
                    class="form-control" [ngClass]="{'is-invalid': submitted && f.select_img.errors}"
                    accept="image/x-png,image/gif,image/jpeg" (change)="fileChange($event)">
                <div *ngIf="submitted && f.select_img.errors" class="invalid-feedback">
                    <div *ngIf="f.select_img.errors.required">Por favor ingrese una imagen</div>
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align: center; margin-top: 20px;">
            <button class="btn btn-primary">Enviar</button>
        </div>

    </form>
</div>