<h1 style="text-align: center; margin-top: 15px;">Bienvenido</h1>
<button class="btn btn-danger" (click)="logout()" style="margin-left: 30px;">Cerrar Sesión</button>
<div class="contenedor-padre">
    <div class="galeria">
        <div class="contenedor-imagenes">

            <div class="imagen">
                <img src="../../../assets/images/altas.png" alt="altas">
                <a [routerLink]="['/altas']">
                    <div class="overlay">
                        <h2>Agregar nuevo documento</h2>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/consultas2.jpg" alt="consultas">
                <a [routerLink]="['/consultas']">
                    <div class="overlay">
                        <h2>Consultas</h2><br>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>