<button class="btn btn-info" [routerLink]="['/consultas']" style="margin-left: 30px; margin-top: 30px;">Regresar a Consultas</button>
<div class="contenedor-padre">
    <div class="galeria">
        <div class="contenedor-imagenes">

            <div class="imagen">
                <img src="../../../assets/images/semestre_1_b.jpg" alt="altas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre/Materia</h2>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_2.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 2</h2><br>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_3.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 3</h2><br>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_4.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 4</h2><br>
                    </div>
                </a>
            </div>

            <div class="imagen">
                <img src="../../../assets/images/semestre_5.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 5</h2><br>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_6.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 6</h2><br>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_7.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 7</h2><br>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_8.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 8</h2><br>
                    </div>
                </a>
            </div>

            <div class="imagen">
                <img src="../../../assets/images/semestre_9.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 9</h2><br>
                    </div>
                </a>
            </div>
            <div class="imagen">
                <img src="../../../assets/images/semestre_10.jpg" alt="consultas">
                <a [routerLink]="['/notas']">
                    <div class="overlay">
                        <h2>Semestre 10</h2><br>
                    </div>
                </a>
            </div>
            

        </div>
    </div>
</div>